html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: #1eecff;

  --colorR: 255;
  --colorG: 255;
  --colorB: 255;
}
[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: #808080;
  --accent: #ff311e;
  --colorR: 0;
  --colorG: 0;
  --colorB: 0;
}
